/* entête du photographe */
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
}
.photograph-header div {
  width: auto;
  max-width: 300px;
}
.photograph-header h2 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
  font-weight: normal;
}
.photograph-header p {
  margin-bottom: 0;
}
.photograph-header p.locality {
  color: #901c1c;
  font-size: 24px;
  margin-top: 0;
}
.photograph-header p.tagline {
  color: #525252;
  font-size: 18px;
  margin-top: 20px;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Trier par */
.sortChange {
  display: flex;
}
#labelSort {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.select--custom {
  width: 170px;
  height: 69px;
  position: relative;
  background-color: #901c1c;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.select--custom button {
  background: none;
  border: none;
  display: inline;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.select--open button {
  border-bottom: 1.5px solid #fff;
}
.select--custom.select--open {
  border-radius: 5px 5px 0 0;
}
.options {
  width: 170px;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 69px;
  left: 0;
  background-color: #901c1c;
  margin: 0;
  display: none;
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
}
.select--open .options {
  display: block;
}
.option--current {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 0;
}
.option--current::after {
  width: 32px;
  height: 32px;
  position: absolute;
  content: ">";
  transform: rotate(90deg);
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 70ms ease;
}
.select--open .option--current::after {
  transform: rotate(-90deg);
}
.option {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1.5px solid #fff;
}
.option:last-child {
  border: none;
}
.selected {
  width: 170px;
  height: 69px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* medias */
#mediasContainer {
  margin: 10px 100px;
}
main section.medias {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 135px;
  row-gap: 30px;
  margin-top: 30px;
}
main section.medias figure.mediaCard {
  width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  cursor: pointer;
}
main section.medias figure.mediaCard .media__image {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
main section.medias figure.mediaCard figcaption.media__figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50px;
}
main section.medias figure.mediaCard figcaption.media__figcaption h2,
main section.medias figure.mediaCard figcaption.media__figcaption p {
  font-size: 24px;
  color: #901c1c;
  font-weight: normal;
  margin: 0;
}
main
  section.medias
  figure.mediaCard
  figcaption.media__figcaption
  .media__figcaption__like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main
  section.medias
  figure.mediaCard
  figcaption.media__figcaption
  .media__figcaption__like
  .media__figcaption__likeIco {
  height: 22px;
}
main
  section.medias
  figure.mediaCard
  figcaption.media__figcaption
  .media__figcaption__like
  .notDisplay {
  display: none;
}
main
  section.medias
  figure.mediaCard
  figcaption.media__figcaption
  .media__figcaption__like
  .media__figcaption__likeText {
  margin-right: 5px;
}
.medias__likes {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 376px;
  height: 55px;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.medias__likes p {
  font-size: 24px;
  font-weight: 600;
}
.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
.likes .likes__text {
  margin-right: 8px;
}
.likes .likes__icone {
  height: 22px;
}

/* Modal de contact */
#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.4);
  overflow-y: scroll;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 20px 35px;
  height: 900px;
  margin: 50px auto;
  position: relative;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: 156px;
  align-items: flex-start;
}
.modal header div h2 {
  font-size: 64px;
  font-weight: normal;
  margin: 0;
  line-height: 1.1;
}
.modal header div h2#namePhotographer {
  font-size: 64px;
}
.modal header img {
  position: relative;
  cursor: pointer;
  align-self: flex-start;
  top: calc(64px - 42px);
  width: 42px;
  height: 42px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  resize: none;
  width: 100%;
  height: 170px;
  border-radius: 5px;
  border: none;
}
.formData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  font-weight: bold;
  color: #e54858;
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
  align-self: flex-end;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .input {
  border: 2px solid #e54858;
}
.confirm-message {
  height: 700px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Lightbox */
.lightbox__background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}
.lightbox__modal {
  position: relative;
  width: 1100px;
  height: 800px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.lightbox__previous_arrow,
.lightbox__next_arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.lightbox__media {
  overflow: hidden;
}
.lightbox__media img,
.lightbox__media video {
  max-width: 100%;
  height: 675px;
  border-radius: 5px;
}
.lightbox__media h2 {
  margin: 5px 0 0 0;
  font-size: 24px;
  color: #901c1c;
  font-weight: normal;
}
.lightbox__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
